.navbar {
    display: flex; /* Acomodo los elementos en una fila horizontal */
    justify-content: space-between; /* Empuja el logo a la izq. el menú al centro */
    align-items: center; /* Centra todo de arriba hacia abajo */
    background-color: #1a365d; /* Color de fondo */
    color: white; /* Color de letras */
    padding: 10px 30 px; /* 10px de espacio arriba/abajo y 30px a los lados */
}

/* Logo */
.navbar-logo h2 {
    margin: 0;
}

/* Estilo de la lista */
.navbar-links {
    display: flex;
    list-style: none; /* Elimina los puntitos de las viñetas */
    gap: 20px; /* Crea un espacio entre cada palabra del menú */
    margin: 0; /* Limpia los márgenes ocultos */
    padding: 0;
}

.navbar-links a {
    color: #e2e8f0;
    text-decoration: none; /* Quita las líneas del enlace */
    font-weight: 500px; /* Pone las letras en negrita */
    transition: color 0.3s ease ; /* Hace que el cambio de color al pasar el mouse sea suave, no de golpe */
}

.navbar-links a:hover {
    color: #38bdf8; /* Cambia a un azul claro/celeste resaltado */
}

/* Sección de usuario y botón de salir */
.navbar-user {
    display: flex;
    align-items: center;
    gap: 15px; /* Separa la el nombre del boton */
}

/* Diseño del boton */
.btn-logout {
    background-color: #e11d48; /* Fondo rojo para indicar que es una acción de "salir" */
    color: white;
    border: none; /* Quita el borde que trae los botones */
    padding: 8px 16px; /* Hace el botón más gordito (8px arriba/abajo, 16px lados) */
    border-radius: 6px; /* Redondea las esquinas del boton */
    cursor: pointer; /* Cambia la flechita por una manita al ponerlo encima del boton */
    font-weight: bold;
}

/* Efecto hover del botón de salir */
.btn-logout :hover {
    background-color: #be123c; /* Se oscurece un poco el rojo cuando pasas el mouse */
}

/* Estilo para telefono */
.menu-icon {
    display: none; /* En PC se acomoda porque no se necesita */
    font-size: 28px;
    cursor: pointer;
    color: white;
}

/* Modo celular: Todo lo que sigue solo se aplicara al celular */
@media (max-width: 850px) {
    /* Muestra el icono */
    .menu-icon {
        display: block;
    }

    /* Lista modificada para que sea menú desplegable oculto */
    .navbar-links {
        display: flex;
        flex-direction: column; /* Pone los links de arriba hacia abajo */
        position: absolute; /* Lo saca de la barra y lo pone encima de la página */
        top: 60px; /* Lo empueja para que quede denbajo de la barra azul */
        left: -100%; /* Lo esconde hacía la izquierda de la pantalla */
        width: 100%;
        background-color: #1a365d;
        padding: 20px 0;
        transition: all 0.4s ease; /* Hace que deslice suavemente */
    }
     /* Activación del botón */
    .navbar-links.activo {
        left: 0; /* Lo regresa a la pantalla deslizándose */
    }

    /* Centramos los links en el modo celular */
    .navbar-links li {
        text-align: center;
        margin: 15px 0;
    }

    /* Ocultamos al usuario en el celular para ahorrar espacio */
    .navbar-user {
        display: none;
    }
}